<!DOCTYPE html>
<html>
<head>
  <title>Albert's Bathroom Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= "Albert's Bathroom Store" %>
  </div>
  <div id="columns">
    <div id="side">
      <div id="cart">
      <% if user_signed_in? %>
          <%= render @cart %>
      <% end %>
      </div>
    </div>
      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <div id="main">

      <%= yield %>

    </div>
  </div>

</body>
</html>